<library path="src">
  <class name="RecordingPlugin" type="rqt_recording_plugin.recording_plugin.RecordingPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin for the rosbag_record_coordinator
    </description>
    <qtgui>
      <group>
        <label>Miscellaneous</label>
        <icon type="theme">folder</icon>
      </group>
      <label>RosbagRecording</label>
      <statustip>Rosbag recording UI</statustip>
    </qtgui>
  </class>
</library>
