<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>
  <group if="$(eval arg('calibration') == 'no' or arg('calibration') == 'imu')" ns="$(arg box_namespace)">

    <node pkg="rosserial_python" type="serial_node.py" name="adis_node_versavis" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

  </group>
</launch>