<launch>
  <!-- Wavemap params -->
  <arg name="param_file"
       default="$(find wavemap_ros)/config/wavemap_livox_mid360.yaml"
       doc="Name of the file from which to read wavemap's server params."/>

  <!-- Run the Livox driver -->
  <arg name="bd_list" default="100000000000000"/>
  <param name="xfer_format" value="1"/>
  <param name="publish_freq" type="double" value="10.0"/>
  <param name="multi_topic" value="0"/>
  <param name="data_src" value="0"/>
  <param name="output_data_type" value="0"/>
  <param name="cmdline_str" type="string" value="$(arg bd_list)"/>
  <param name="frame_id" type="string" value="livox_frame"/>


  <!-- Run wavemap -->
  <include file="$(find wavemap_ros)/launch/wavemap_server.launch"
           pass_all_args="true"/>
</launch>