<launch>
  <rosparam command="load" file="$(find box_rviz)/cfg/rviz_strings.yaml"/>

  <!-- Specify the package and executable -->
  <node pkg="box_rviz" type="publish_string.py" name="string_publisher_node" output="screen">
    <param name="capability_group" value="Visualization"/>
    <rosparam param="string_list">$(arg strings)</rosparam>
  </node>
</launch>
