<launch>

	<arg name="box_namespace" default="gt_box"/>
	<arg name="device_ids" default="tcp://192.168.2.222:55555"/> <!-- E.g. "usb://*;tcp://192.168.222.0:55555;serial:///dev/ttyS5@115200" -->


    <!-- ICOM connection to the receiver; you need to determine receiver's IP address -->
	<arg name="oem7_if"        default="Oem7ReceiverTcp" />
	<arg name="oem7_ip_addr"   default="192.168.2.98" /> <!--  E.g. "10.128.224.1"  -->
	<arg name="oem7_port"      default="3001"            />
	<arg name="oem7_receiver_log" default="cpt7.gps"/> <!--  E.g. "oem7.gps" -->

	<group ns="$(arg box_namespace)/cpt7">
		<!--  Supported Oem7 messages - refer to Oem7 user manual. -->
		<rosparam file="$(find novatel_oem7_driver)/config/oem7_msgs.yaml" command="load"/>	

		<!-- Supported IMUs - refer to Oem7 user manual-->
		<rosparam file="$(find novatel_oem7_driver)/config/oem7_supported_imus.yaml" command="load"/>


		<!-- Nodelet Manager, hosting the nodelets comprising the driver --> 
		<node pkg="nodelet" type="nodelet" args="manager" name="driver"  output="screen" />
		
		<!-- Nodelet interfacing with receiver to handle Oem7 Logs and publish ROS messages.  -->
		<!-- Nodelet sending receiver configuration commands. -->
		<group ns="receivers">
			
			<node pkg="nodelet" type="nodelet" name="main"
				args="load novatel_oem7_driver/Oem7MessageNodelet /gt_box/cpt7/driver" output="screen">
				<!-- Message Handler Plugins -->
				<rosparam file="$(find novatel_oem7_driver)/config/std_msg_handlers.yaml" />
				<param name="oem7_msg_decoder"   value="Oem7MessageDecoder"    type="string" />
				<!-- All unknown fragments are published to oem7raw topic -->
				<param name="oem7_publish_unknown_oem7raw" value="true" type="bool" />
			</node>

			<group ns="main">
				<param name="oem7_if"        value="$(arg oem7_if)"      type="string" />
				<param name="oem7_ip_addr"   value="$(arg oem7_ip_addr)" type="string" />
				<param name="oem7_port"      value="$(arg oem7_port)"    type="int" />
				<param name="oem7_receiver_log_file" value="$(arg oem7_receiver_log)"   type="string" />

				<!-- Nodelet sending receiver configuration commands. -->
				<node pkg="nodelet" type="nodelet" name="config"
					args="load novatel_oem7_driver/Oem7ConfigNodelet /gt_box/cpt7/driver" output="screen">
				</node>
				

				<!-- Standard receiver initialization commands. -->
				<rosparam file="$(find novatel_oem7_driver)/config/std_init_commands.yaml"/>
				<!-- Standard Oem7 raw messages to publish -->
				<rosparam file="$(find novatel_oem7_driver)/config/std_oem7_raw_msgs.yaml" /> 
				<!-- Standard Messages / Topics to publish -->
				<rosparam file="$(find novatel_oem7_driver)/config/std_msg_topics.yaml"/> 
				
			</group>
		</group>
	</group>
</launch>


