*.egg-info
*.bag
*.pdf
*.PDF
*.log
*.urdf
*.mcap
*_pb2_grpc.py
*_pb2.py
*__pycache__
.vscode
.catkin_tools
.idea/
wifi_config.ini
.DS_Store
box_utils/box_recording/data
box_utils/box_mission_report/reports*
box_bringup/bringup_open3d_slam/data/maps/*
box_utils/box_auto/compose/*_local.yaml
box_utils/box_auto/cfg/*_local.yaml
videos/*
.secrets/*
box_utils/box_converter/image-anonymization-pipeline/models/ego_blur_face.jit
box_utils/box_converter/image-anonymization-pipeline/models/ego_blur_lp.jit
box_utils/box_auto/cfg/all_missions_summary_xy_60_120_180.yaml
box_utils/box_auto/cfg/mission_metadata.yaml
box_utils/box_converter/cluster/.submit/*
box_utils/box_converter/cluster/.export/*
box_utils/box_auto/docker/.secrets/*
box_utils/box_converter/cluster/.out/*
