[submodule "box_drivers/Livox-SDK2"]
	path = box_drivers/Livox-SDK2
	url = git@github.com:leggedrobotics/Livox-SDK2.git
[submodule "box_drivers/livox_ros_driver2"]
	path = box_drivers/livox_ros_driver2
	url = git@github.com:leggedrobotics/livox_ros_driver2.git
[submodule "box_drivers/HesaiLidar_General_ROS"]
	path = box_drivers/HesaiLidar_General_ROS
	url = git@github.com:HesaiTechnology/HesaiLidar_General_ROS.git
	ignore = dirty
[submodule "box_drivers/smb_imu_interface"]
	path = box_drivers/smb_imu_interface
	url = git@github.com:ETHZ-RobotX/smb_imu_interface.git
[submodule "box_drivers/leica_totalstation_interface"]
	path = box_drivers/leica_totalstation_interface
	url = git@github.com:leggedrobotics/leica_totalstation_interface.git
	ignore = dirty
[submodule "box_drivers/ethz_piksi_ros"]
	path = box_drivers/ethz_piksi_ros
	url = git@github.com:leggedrobotics/ethz_piksi_ros.git
	ignore = dirty
[submodule "box_drivers/multimaster_fkie"]
	path = box_drivers/multimaster_fkie
	url = git@github.com:fkie/multimaster_fkie.git
[submodule "box_drivers/adis16475_ros"]
	path = box_drivers/adis16475_ros
	url = git@github.com:leggedrobotics/adis16475_ros.git
[submodule "box_drivers/ros2_v4l2_camera"]
	path = box_drivers/ros2_v4l2_camera
	url = git@github.com:tier4/ros2_v4l2_camera.git
[submodule "box_drivers/stim320_ros"]
	path = box_drivers/stim320_ros
	url = git@github.com:leggedrobotics/stim320_ros.git
