*.egg-info
*.bag
*.dae
*.pdf
*.PDF
*.urdf
*.mcap
*_pb2_grpc.py
*_pb2.py
*__pycache__
.vscode
.catkin_tools
.idea/
wifi_config.ini
.DS_Store
box_utils/box_recording/data
box_utils/box_mission_report/reports*
box_bringup/bringup_open3d_slam/data/maps/*
box_utils/box_auto/compose/*_local.yaml
box_utils/box_auto/cfg/*_local.yaml
