[submodule "box_drivers/livox_ros_driver2"]
	path = box_drivers/livox_ros_driver2
	url = git@github.com:leggedrobotics/livox_ros_driver2.git
[submodule "box_drivers/multimaster_fkie"]
	path = box_drivers/multimaster_fkie
	url = git@github.com:leggedrobotics/multimaster_fkie.git
[submodule "box_drivers/stim320_driver"]
	path = box_drivers/stim320_driver
	url = git@github.com:leggedrobotics/stim320_driver
[submodule "box_drivers/zed-ros-wrapper"]
	path = box_drivers/zed-ros-wrapper
	url = git@github.com:leggedrobotics/zed-ros-wrapper.git
[submodule "box_drivers/raw_image_pipeline"]
	path = box_drivers/raw_image_pipeline
	url = git@github.com:leggedrobotics/raw_image_pipeline.git
[submodule "box_drivers/hesai_lidar_ros_driver"]
	path = box_drivers/hesai_lidar_ros_driver
	url = git@github.com:leggedrobotics/hesai_lidar_ros_driver.git
[submodule "box_drivers/Livox-LiDAR-SDK2"]
	path = box_drivers/Livox-LiDAR-SDK2
	url = git@github.com:leggedrobotics/Livox-LiDAR-SDK2.git
[submodule "box_drivers/novatel_oem7_driver"]
	path = box_drivers/novatel_oem7_driver
	url = git@github.com:leggedrobotics/novatel_oem7_driver.git
[submodule "box_drivers_ros2/rosbag2_composable_recorder"]
	path = box_drivers_ros2/rosbag2_composable_recorder
	url = git@github.com:leggedrobotics/rosbag2_composable_recorder.git
[submodule "box_drivers_ros2/hdr_camera_driver"]
	path = box_drivers_ros2/hdr_camera_driver
	url = git@github.com:leggedrobotics/hdr_camera_driver.git
[submodule "box_drivers_ros2/isaac_ros_common"]
	path = box_drivers_ros2/isaac_ros_common
	url = git@github.com:leggedrobotics/isaac_ros_common.git
[submodule "box_drivers/iio_cpp"]
	path = box_drivers/iio_cpp
	url = git@github.com:leggedrobotics/iio_cpp.git
[submodule "box_drivers/adi_imu_driver"]
	path = box_drivers/adi_imu_driver
	url = git@github.com:leggedrobotics/adi_imu_driver.git
[submodule "box_drivers_ros2/ros1_bridge"]
	path = box_drivers_ros2/ros1_bridge
	url = git@github.com:leggedrobotics/ros1_bridge.git
[submodule "box_applications/tf_bag"]
	path = box_applications/tf_bag
	url = git@github.com:leggedrobotics/tf_bag.git
[submodule "box_applications/graph_msf_dev"]
	path = box_applications/graph_msf_dev
	url = git@bitbucket.org:leggedrobotics/graph_msf_dev.git
[submodule "box_applications/open3d_slam_private"]
	path = box_applications/open3d_slam_private
	url = git@github.com:leggedrobotics/open3d_slam_private.git
[submodule "box_applications/wavemap"]
	path = box_applications/wavemap
	url = git@github.com:ethz-asl/wavemap.git
	branch = feature/alma
[submodule "box_applications/elevation_mapping_cupy"]
	path = box_applications/elevation_mapping_cupy
	url = git@github.com:leggedrobotics/elevation_mapping_cupy.git
[submodule "box_applications/dlio"]
	path = box_applications/dlio
	url = git@github.com:leggedrobotics/dlio.git
[submodule "box_applications/evo"]
	path = box_applications/evo
	url = git@github.com:leggedrobotics/evo.git
[submodule "box_applications/simple_navigation"]
	path = box_applications/simple_navigation
	url = git@github.com:leggedrobotics/simple_navigation.git
[submodule "box_applications/anymal_d_simple_description"]
	path = box_applications/anymal_d_simple_description
	url = git@github.com:leggedrobotics/anymal_d_simple_description.git
