<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>
  <group if="$(eval arg('calibration') == 'no' or arg('calibration') == 'imu')" ns="$(arg box_namespace)">
  <node name="stim320imu" pkg="stim320_driver" type="stim320_node" output="screen" required="true">
    <param name="serial_port" value="/dev/ttyAMA0"/>
    <!-- You can't change the hardware decimation through the driver. Change this value only if you changed the hardware decimation through GUI. -->
    <param name="decimation_ratio" value="4"/>
  </node>
  </group>
</launch>