<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="hostname" default="$(env HOSTNAME)"/>

  <group ns="$(arg box_namespace)">
    <node pkg="box_status"
        name="box_status_$(arg hostname)"
        type="box_status_node.py"
        output="screen">
    </node>
  </group>
</launch>