<launch>
  <arg name="calibration" default="no"/>
  <include file="$(find box_launch)/launch/adis16475.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find box_launch)/launch/usb_cams.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find box_recording)/launch/rosbag_record_node.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find box_health)/launch/box_health_client.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find core_throttling)/launch/throttle_nuc.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
</launch>


            
            
            