<launch>
  <arg name="calibration" default="no"/>
  <include file="$(find box_launch)/launch/box_rviz.launch"> </include>
  <include file="$(find bringup_hesai)/launch/hesai_lidar_unpack_throttled.launch"> </include>
  <include file="$(find box_recording)/launch/rosbag_record_node.launch"> </include>
  <include file="$(find box_health)/launch/box_health_client.launch"> </include>
  <include file="$(find box_health)/launch/box_health_server.launch"> </include>
</launch>


            
            
                        
           
            
            
            