<?xml version="1.0" ?>

<robot name="lidars" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Hesai -->
  <link name="hesai" />
  <joint name="box_base_to_hesai" type="fixed">   
    <origin xyz=" ${calib['box_base_to_hesai']['x']}
                  ${calib['box_base_to_hesai']['y']}
                  ${calib['box_base_to_hesai']['z']}" 
            rpy=" ${calib['box_base_to_hesai']['roll']}
                  ${calib['box_base_to_hesai']['pitch']}
                  ${calib['box_base_to_hesai']['yaw']}" />
    <parent link="box_base" />
    <child link="hesai" />
  </joint>

  <!-- Livox -->
  <link name="livox" />
  <joint name="box_base_to_livox" type="fixed">   
    <origin xyz=" ${calib['box_base_to_livox']['x']}
                  ${calib['box_base_to_livox']['y']}
                  ${calib['box_base_to_livox']['z']}" 
            rpy=" ${calib['box_base_to_livox']['roll']}
                  ${calib['box_base_to_livox']['pitch']}
                  ${calib['box_base_to_livox']['yaw']}" />
    <parent link="box_base" />
    <child link="livox" />
  </joint>
</robot>