<?xml version="1.0" ?>

<robot name="lidars" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- hesai_lidar -->
  <link name="hesai_lidar" />
  <joint name="box_base_to_hesai_lidar" type="fixed">
    <origin xyz=" ${calib['box_base_to_hesai_lidar']['x']}
                  ${calib['box_base_to_hesai_lidar']['y']}
                  ${calib['box_base_to_hesai_lidar']['z']}"
            rpy=" ${calib['box_base_to_hesai_lidar']['roll']}
                  ${calib['box_base_to_hesai_lidar']['pitch']}
                  ${calib['box_base_to_hesai_lidar']['yaw']}" />
    <parent link="box_base" />
    <child link="hesai_lidar" />
  </joint>

  <!-- <link name="hesai_model">
    <visual>
      <geometry>
        <mesh filename="package://box_model/urdf/box/mesh/hesai_lidar.dae" />
      </geometry>
    </visual>
  </link> -->
  <!-- <joint name="hesai_lidar_to_hesai_model" type="fixed">
    <origin xyz=" ${calib['hesai_lidar_to_hesai_model']['x']}
                  ${calib['hesai_lidar_to_hesai_model']['y']}
                  ${calib['hesai_lidar_to_hesai_model']['z']}"
            rpy=" ${calib['hesai_lidar_to_hesai_model']['roll']}
                  ${calib['hesai_lidar_to_hesai_model']['pitch']}
                  ${calib['hesai_lidar_to_hesai_model']['yaw']}" />
    <parent link="hesai_lidar" />
    <child link="hesai_model" />
  </joint> -->

  <!-- Livox -->
  <link name="livox_lidar" />
  <joint name="box_base_to_livox_lidar" type="fixed">
    <origin xyz=" ${calib['box_base_to_livox_lidar']['x']}
                  ${calib['box_base_to_livox_lidar']['y']}
                  ${calib['box_base_to_livox_lidar']['z']}"
            rpy=" ${calib['box_base_to_livox_lidar']['roll']}
                  ${calib['box_base_to_livox_lidar']['pitch']}
                  ${calib['box_base_to_livox_lidar']['yaw']}" />
    <parent link="box_base" />
    <child link="livox_lidar" />
  </joint>

  <!-- <link name="livox_model">
    <visual>
      <geometry>
        <mesh filename="package://box_model/urdf/box/mesh/livox_mid360_lidar.dae" />
      </geometry>
    </visual>
  </link> -->
  <!-- <joint name="livox_lidar_to_livox_model" type="fixed">
    <origin xyz=" ${calib['livox_lidar_to_livox_model']['x']}
                  ${calib['livox_lidar_to_livox_model']['y']}
                  ${calib['livox_lidar_to_livox_model']['z']}"
            rpy=" ${calib['livox_lidar_to_livox_model']['roll']}
                  ${calib['livox_lidar_to_livox_model']['pitch']}
                  ${calib['livox_lidar_to_livox_model']['yaw']}" />
    <parent link="livox_lidar" />
    <child link="livox_model" />
  </joint> -->

  <link name="livox_imu"/>
  <!-- From page 15 https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/Livox/Livox_Mid-360_User_Manual_EN.pdf -->
  <joint name="livox_lidar_to_livox_imu" type="fixed">
    <origin xyz=" ${calib['livox_lidar_to_livox_imu']['x']}
                  ${calib['livox_lidar_to_livox_imu']['y']}
                  ${calib['livox_lidar_to_livox_imu']['z']}"
            rpy=" ${calib['livox_lidar_to_livox_imu']['roll']}
                  ${calib['livox_lidar_to_livox_imu']['pitch']}
                  ${calib['livox_lidar_to_livox_imu']['yaw']}" />
    <parent link="livox_lidar" />
    <child link="livox_imu" />
  </joint>

</robot>

