<launch>
  <arg name="box_namespace" default="gt_box"/>
  <group ns="$(arg box_namespace)">  
    <node pkg="box_recording"
        name="rosbag_record_node_npc"
        type="rosbag_record_node.py"
        output="screen">
        <param name="capability_group" value="Recording"/>
    </node>
  </group>
</launch>