<launch>
  <!-- Use GUI -->
  <arg name="use_gui" default="false"/>
  
  <!-- Parameters parsed to the fkie -->
  <arg name="autostart_launch_files" default=""/>
  <arg name="load_launch_files" default=""/>
  
  <!-- Evaluate the arguments parsed to fkie daemon -->
  <arg name="_autostart_launch_files"
       value="$(eval ','.join(autostart_launch_files.split()))"/>
  <arg name="_load_launch_files"
       value="$(eval ','.join(load_launch_files.split()))"/>

  <!-- Only pass in command line arguments when they are not empty -->
  <group if="$(eval bool(load_launch_files) )">
    <group if="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--load '$(arg _load_launch_files)'
              --autostart '$(arg _autostart_launch_files)'">
      </node>
    </group>
    <group unless="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--load '$(arg _load_launch_files)'">
      </node>
    </group>
  </group>
  <group unless="$(eval bool(load_launch_files) )">
    <group if="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--autostart '$(arg _autostart_launch_files)'">
      </node>
    </group>
    <group unless="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon">
      </node>
    </group>
  </group>
    <node pkg="fkie_node_manager"
            type="node_manager"
            name="node_manager"
            if="$(arg use_gui)"/>
    <!-- fkie_master_discovery -->
    <include file="$(find bringup_fkie)/launch/master_discovery_nuc.launch" />
    <!-- fkie_master_sync -->
    <include file="$(find bringup_fkie)/launch/master_sync_nuc.launch" />
</launch>
