<launch>
    <!-- Define global target_type parameter -->
    <arg name="use_april_grid"/>
    <arg name="record_pointcloud" default="false"/>

    <!-- Include camera detectors with target_type -->
    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam1_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam1"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_middle"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam2_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam2"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_left"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam3_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam3"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_right"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam4_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam4"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_left"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam5_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam5"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_right"/>
    </include>

    <node if="$(arg record_pointcloud)" pkg="grand_tour_camera_detectors" type="generic_recorder.py"
           name="hesai_recorder" output="screen"
           ns="gt_box">
        <param name="topic" value="/gt_box/hesai/points"/>
        <param name="recording_bag_name" value="hesai"/>
    </node>

    <node if="$(arg record_pointcloud)" pkg="grand_tour_camera_detectors" type="generic_recorder.py"
          name="livox_recorder" output="screen"
          ns="gt_box">
        <param name="topic" value="/gt_box/livox/lidar"/>
        <param name="recording_bag_name" value="livox"/>
    </node>


    <node pkg="grand_tour_camera_detectors" type="generic_recorder.py"
          name="livox_imu_recorder" output="screen"
          ns="gt_box">
        <param name="topic" value="/gt_box/livox/imu"/>
        <param name="recording_bag_name" value="livox_imu"/>
    </node>

    <node pkg="grand_tour_camera_detectors" type="generic_recorder.py"
          name="alphasense_imu_recorder" output="screen"
          ns="gt_box">
        <param name="topic" value="/gt_box/alphasense_driver_node/imu"/>
        <param name="recording_bag_name" value="alphasense_imu"/>
    </node>

    <node pkg="grand_tour_camera_detectors" type="generic_recorder.py"
          name="cpt7_imu_raw_recorder" output="screen"
          ns="gt_box">
        <param name="topic" value="/gt_box/cpt7/imu/data_raw"/>
        <param name="recording_bag_name" value="cpt7_imu_raw"/>
    </node>

    <node pkg="grand_tour_camera_detectors" type="generic_recorder.py"
          name="cpt7_gps_imu_recorder" output="screen"
          ns="gt_box">
        <param name="topic" value="/gt_box/cpt7/gps/imu"/>
        <param name="recording_bag_name" value="cpt7_gps_imu"/>
    </node>



</launch>
