<launch>
    <!-- Define global target_type parameter -->
    <arg name="use_april_grid"/>
    <arg name="record_pointcloud"/>
    <arg name="record_imu"/>

    <!-- Include camera detectors with target_type -->
    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam1_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam1"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_center"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam2_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam2"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_left"/>
    </include>

    <include file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam3_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam3"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_front_right"/>
    </include>

    <include unless="$(arg record_imu)" file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam4_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam4"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_left"/>
    </include>

    <include unless="$(arg record_imu)" file="$(find grand_tour_camera_detectors)/launch/generic_detector.launch">
        <arg name="name" value="cam5_detector"/>
        <arg name="image_topic" value="/gt_box/alphasense_driver_node/cam5"/>
        <arg name="use_april_grid" value="$(arg use_april_grid)"/>
        <arg name="recording_bag_name" value="alphasense_right"/>
    </include>

    <node if="$(eval arg('record_pointcloud') == 'true' and arg('record_imu') == 'false')" 
            pkg="grand_tour_camera_detectors" 
            type="recorder_relay.py"
            name="recorder_relay" output="screen"
            ns="gt_box">
        <param name="capability_group" value="Recording"/>
        <param name="yaml_file" value="calib_lidar"/>
    </node>

    <node pkg="grand_tour_camera_detectors" type="recorder_relay.py"
          name="recorder_relay" output="screen"
          ns="gt_box">
        <param name="capability_group" value="Recording"/>
        <param name="yaml_file" value="calib_imu"/>
    </node>

    <node if="$(eval arg('record_pointcloud') == 'true' and arg('record_imu') == 'true')" 
        pkg="grand_tour_camera_detectors" type="recorder_relay.py"
          name="recorder_relay" output="screen"
          ns="gt_box">
        <param name="capability_group" value="Recording"/>
        <param name="yaml_file" value="calib_imu_lidar"/>
    </node>
</launch>