[Unit]
Description=Autostart Terminal and Run tmuxp
After=ptp4l_enp45s0.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/tmuxp load /home/rsl/git/grand_tour_box/box_launch/tmux/nuc_recording.yaml -d
User=rsl

[Install]
WantedBy=default.target
