[Unit]
Description=Autostart Terminal and Run tmuxp
After=set_approx_time_cpt7.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/tmuxp load /home/rsl/git/grand_tour_box/box_launch/tmux/nuc_recording.yaml -d
User=rsl

[Install]
WantedBy=default.target
