[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
Requires=ptp4l.service
After=ptp4l.service

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -c enp46s0 -s CLOCK_REALTIME -O 0 -S 1.0

[Install]
WantedBy=multi-user.target
