[Unit]
Description=Precision Time Protocol (PTP) service - enp45s0 waits for master in network
Documentation=man:ptp4l
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i enp45s0 -H -s -f /home/rsl/git/grand_tour_box/box_configuration/nuc/ptp4l.conf

[Install]
WantedBy=multi-user.target
