[Unit]
Description=Precision Time Protocol (PTP) service - enp46s0 assumes master role in network
Documentation=man:ptp4l
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -i enp46s0 -H -f /home/rsl/git/grand_tour_box/box_configuration/nuc/ptp4l.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
