[Unit]
Description= Wait to receive ptp time from Jetson.
After=ptp4l.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/rsl/check_for_foreign_master.sh

[Install]
WantedBy=multi-user.target
