<?xml version="1.0" ?>

<!--

Copyright 2022 University of Oxford, Hilti Corporation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->


<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
  <!-- Origin -->
  <link name="origin"/>

  <!-- Box base -->
  <link name="box_base"/>
  <joint name="origin_to_box_base" type="fixed">   
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="origin" />
    <child link="box_base" />
  </joint>

  <!-- Model base -->
  <link name="model_base">
    <visual>
      <geometry>
        <mesh filename="package://box_model/urdf/box/mesh/box_model1.dae" />
      </geometry>
    </visual>
  </link>
  <joint name="box_base_to_model_base" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="${pi} 0.0 ${pi/2}" />
    <parent link="box_base" />
    <child link="model_base" />    
  </joint>

  <!-- Cameras front (coincide with front hdr cam) -->
  <link name="cameras_front" />
  <joint name="box_base_to_cameras_front" type="fixed">   
    <origin xyz="0.45 0.0 0.09" rpy="0.0 0.0 0.0" />
    <parent link="box_base" />
    <child link="cameras_front" />
  </joint>

  <!-- HDR camera front -->
  <link name="hdr_front" />
  <joint name="cameras_front_to_hdr_front" type="fixed">   
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
    <parent link="cameras_front" />
    <child link="hdr_front" />
  </joint>

  <!-- Alphasense front left -->
  <link name="alphasense_front_left" />
  <joint name="hdr_front_to_alphasense_front_left" type="fixed">   
    <origin xyz="-0.055 -0.04 0.0" rpy="0.0 0.0 0.0" />
    <parent link="hdr_front" />
    <child link="alphasense_front_left" />
  </joint>

  <!-- Alphasense front middle -->
  <link name="alphasense_front_middle" />
  <joint name="alphasense_front_left_to_alphasense_front_middle" type="fixed">   
    <origin xyz="0.054 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="alphasense_front_left" />
    <child link="alphasense_front_middle" />
  </joint>

  <!-- Alphasense front right -->
  <link name="alphasense_front_right" />
  <joint name="alphasense_front_middle_to_alphasense_front_right" type="fixed">   
    <origin xyz="0.054 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="alphasense_front_middle" />
    <child link="alphasense_front_right" />
  </joint>

  <!-- Zed right -->
  <link name="zed_right" />
  <joint name="alphasense_front_right_to_zed_right" type="fixed">   
    <origin xyz="0.005 0.08 0.0" rpy="0.0 0.0 0.0" />
    <parent link="alphasense_front_right" />
    <child link="zed_right" />
  </joint>

  <!-- Zed left -->
  <link name="zed_left" />
  <joint name="zed_right_to_zed_left" type="fixed">   
    <origin xyz="-0.12 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="zed_right" />
    <child link="zed_left" />
  </joint>

  <!-- Cameras right (coincide with right hdr cam) -->
  <link name="cameras_right" />
  <joint name="box_base_to_cameras_right" type="fixed">   
    <origin xyz="0.37 -0.10 0.09" rpy="0.0 0.0 0.0" />
    <parent link="box_base" />
    <child link="cameras_right" />
  </joint>

  <!-- HDR camera right -->
  <link name="hdr_right" />
  <joint name="cameras_right_to_hdr_right" type="fixed">   
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} ${pi} 0.0" />
    <parent link="cameras_right" />
    <child link="hdr_right" />
  </joint>

  <link name="alphasense_right" />
  <joint name="hdr_right_to_alphasense_right" type="fixed">   
    <origin xyz="0.0 -0.04 0.0" rpy="0.0 0.0 0.0" />
    <parent link="hdr_right" />
    <child link="alphasense_right" />
  </joint>

  <!-- Cameras left (coincide with left hdr cam) -->
  <link name="cameras_left" />
  <joint name="box_base_to_cameras_left" type="fixed">   
    <origin xyz="0.37 0.10 0.09" rpy="0.0 0.0 0.0" />
    <parent link="box_base" />
    <child link="cameras_left" />
  </joint>

  <!-- HDR camera left -->
  <link name="hdr_left" />
  <joint name="cameras_left_to_hdr_left" type="fixed">   
    <origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
    <parent link="cameras_left" />
    <child link="hdr_left" />
  </joint>

  <!-- Alphasense left -->
  <link name="alphasense_left" />
  <joint name="hdr_left_to_alphasense_left" type="fixed">   
    <origin xyz="0.0 -0.04 0.0" rpy="0.0 0.0 0.0" />
    <parent link="hdr_left" />
    <child link="alphasense_left" />
  </joint>

  <!-- Lidars (coincide with hesai) -->
  <link name="lidars" />
  <joint name="box_base_to_lidars" type="fixed">   
    <origin xyz="0.37 0.0 0.2" rpy="0.0 0.0 0.0" />
    <parent link="box_base" />
    <child link="lidars" />
  </joint>

  <!-- HDR camera left -->
  <link name="hesai" />
  <joint name="lidars_to_hesai" type="fixed">   
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi/2}" />
    <parent link="lidars" />
    <child link="hesai" />
  </joint>

  <!-- Alphasense left -->
  <link name="livox" />
  <joint name="hesai_to_livox" type="fixed">   
    <origin xyz="0.0 0.0 0.10" rpy="${pi} 0.0 ${-pi/2}" />
    <parent link="hesai" />
    <child link="livox" />
  </joint>
</robot>
