<?xml version="1.0"?>

<!-- Livox mid360 Lidar -->
<robot name="livox" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:arg name="simulation" default="false" />

<xacro:macro name="livox_device" params="parent *origin name:=mid360_lidar simulation:=false lidar_frame:=mid360">
  <joint name="${parent}_to_livox" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}" />
    <child link="livox_base" />
  </joint>
  <link name="livox_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- If mesh is not available: -->
      <!--origin xyz="0 0 38.0e-3" rpy="0 0 0" /-->
      <geometry>
        <!-- If mesh is not available: -->
        <!--cylinder radius="51.500e-3" length="76.0e-3" /-->
        <mesh filename="package://box_model/urdf/livox/meshes/mid-360-asm.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <inertial>
      <!-- CoM taken from CAD assuming constant density and mass 0.807 (best approximation available to real mass) -->
      <origin xyz="-0.015e-3 0.0 37.494e-3" rpy="0 0 0" />
      <!-- mass taken from livox datasheet -->
      <mass value="0.807" /> 
      <!-- Inertia tensor from CAD assuming constant density and mass 0.807 (best approximation vailable to real mass) -->
      <inertia ixx="886.81e-6" ixy="5.802e-11" ixz="-0.34e-6" iyy="898.12e-6" iyz="-0.014e-6" izz="1004.287e-6" />
    </inertial>
    <collision>
      <origin xyz="0 0 38.0e-3"/>
      <geometry>
        <cylinder radius="51.500e-3" length="76.0e-3" />
      </geometry>
    </collision>
  </link>

<!--  <link name="${lidar_frame}"/>-->
<!--  <joint name="livox_base_to_pandar" type="fixed">-->
<!--    &lt;!&ndash; See page 12 of User Manual &ndash;&gt;-->
<!--    &lt;!&ndash; note that the X axis points left. See manual page 11 &ndash;&gt;-->
<!--    <origin xyz="0.0 0.0 46.4e-3" rpy="0.0 0.0 ${pi/2}"/>-->
<!--    <parent link="livox_base"/>-->
<!--    <child link="${lidar_frame}" />-->
<!--  </joint>-->

    <link name="${lidar_frame}"/>
  <joint name="livox_base_to_pandar" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi}"/>
    <parent link="livox_base"/>
    <child link="${lidar_frame}" />
  </joint>

  <!-- TODO implement gazebo plugin loading if simulation is true -->
</xacro:macro>

</robot>
