<launch>
  <param name="capability_group" value="Visualization"/>
  <arg name="calibration" default="no"/>
  <arg name="box_namespace" default="gt_box"/>

  <rosparam command="load" file="$(find box_throttling)/cfg/frequencies.yaml" />
  <arg name="hdr_frequency" default="5.0"/>

  <group ns="$(arg box_namespace)">
    <node name="hdrcam_throttler_left" type="throttle" pkg="topic_tools" args="messages /gt_box/hdr_camera_left/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/hdr_camera_left/image_raw/compressed" >
      <param name="capability_group" value="Throttling"/>
    </node>
    
    <node name="hdrcam_throttler_front" type="throttle" pkg="topic_tools" args="messages /gt_box/hdr_camera_front/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/hdr_camera_front/image_raw/compressed" >
      <param name="capability_group" value="Throttling"/>
    </node>
    
    <node name="hdrcam_throttler_right" type="throttle" pkg="topic_tools" args="messages /gt_box/hdr_camera_right/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/hdr_camera_right/image_raw/compressed" >
      <param name="capability_group" value="Throttling"/>
    </node>

  </group>
</launch>