<launch>
  <param name="capability_group" value="Health"/>
  <arg name="hostname" default="$(env HOSTNAME)"/>
  <arg name="box_namespace" default="gt_box"/>
  <group ns="$(arg box_namespace)">
    <node pkg="box_health" type="publish_local_health_status.py" name="box_health_$(arg hostname)" output="screen">
    </node>
  </group>
</launch>