<?xml version="1.0"?>

<launch>
  <arg name="box_namespace" default="gt_box"/>
  <group ns="$(arg box_namespace)">

    <arg name="port" default="/dev/versavis" doc="port of versavis)" />
    <arg name="baud" default="1000000" doc="baudrate to use for serial communication"/>
    
    <rosparam command="load" file="$(find bringup_imu)/config/imu_settings.yaml" />

    <!-- Run VersaVIS link. -->
    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py"
      args="_port:=$(arg port) _baud:=$(arg baud)" respawn="true" output="screen" />

    <!-- Recieve IMU message. -->
    <node name="versavis_imu_receiver" pkg="versavis_adis16448_receiver"
        type="versavis_imu_receiver" required="true" output="screen">
    </node>

  </group>
</launch>
