<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Arguments -->
  
  <!-- Replay Options -->
  <arg name="use_sim_time" default="true"/>
  <arg name="input_filepath" default="/mission_data/tf.bag"/> 
  <arg name="output_folder" default="/mission_data"/>

  <!-- ROS Param -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Main Node -->
  <node name="box_post_processor" pkg="box_auto"
        type="post_processor_node" output="screen" required="True">
    <param name="input_filepath" value="$(arg input_filepath)"/>
    <param name="output_folder" value="$(arg output_folder)"/>
  </node>

</launch>