<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Arguments -->
  
  <!-- Replay Options -->
  <arg name="use_sim_time" default="true"/>
  <arg name="input_folder" default="/mission_data"/> <!-- /home/tutuna/Downloads/mergedBag.bag -->
  <arg name="map_saving_folder" default="/mission_data"/> <!-- /home/tutuna/Downloads/mergedBag.bag -->

  <!-- ROS Param -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Main Node -->
  <node name="box_post_processor" pkg="box_post_processor"
        type="post_processor_node" output="screen" required="True">
    <param name="input_folder" value="$(arg input_folder)"/>
    <param name="map_saving_folder" value="$(arg map_saving_folder)"/>
  </node>

</launch>