<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Arguments -->
  
  <!-- Replay Options -->
  <arg name="use_sim_time" default="true"/>
  <arg name="output_folder" default="/tmp"/>
  <arg name="tf_bag_paths" default="[/media/T7/2024-08-14-10-45-39/2024-08-14-10-45-39_lpc_tf_0.bag, /media/T7/2024-08-14-10-45-39/2024-08-14-10-45-39_lpc_tf_1.bag]"/>

  <rosparam param="tf_containing_bag_paths" subst_value="True">$(arg tf_bag_paths) </rosparam >

  <!-- ROS Param -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Main Node -->
  <node name="box_tf_processor" pkg="box_auto" type="tf_processor_node" output="screen" required="True">
    <param name="output_folder" value="$(arg output_folder)"/>
  </node>

</launch>