<launch>
  <!-- Arguments -->

  <!-- Depth and Images are found by string matching in this folder. -->
  <arg name="bag_file_directory" default="" />

  <!-- Where the output files will be generated. -->
  <arg name="output_folder_path" default="" />

  <!-- Number of frames to save. -->
  <arg name="max_color_images" default="100" />

  <!-- The saving will start from Nth image in the bag. Often first images are not good. -->
  <arg name="frames_to_skip" default="600" />

  <!-- EXR is a format allowing saving 32-BIT depth images. It can be retrieved with the right libraries but not as common. -->
  <arg name="save_as_exr" default="false" />

  <!-- Pose of camera will be retrieved in this frame. -->
  <arg name="map_frame" default="dlio_map" />

  <!-- The list of rosbags that have the /tf , /tf_static topics. All will be accumulated. -->
  <arg name="tf_bag_paths" default="[/bag1.bag, bag2.bag, bag3.bag]"/>
  <rosparam param="tf_containing_bag_paths" subst_value="True">$(arg tf_bag_paths) </rosparam >

  <!-- Node -->
  <node pkg="box_auto" type="decompression_and_saving" name="decompression_and_saving_node" output="screen" required="true">
    <param name="max_color_images" value="$(arg max_color_images)"/>
    <param name="bag_file_directory" value="$(arg bag_file_directory)"/>
    <param name="output_folder_path" value="$(arg output_folder_path)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="frames_to_skip" value="$(arg frames_to_skip)"/>
    <param name="save_as_exr" value="$(arg save_as_exr)"/>
  </node>

</launch>
