<launch>
  <arg name="rviz" default="false" />
  <arg name="model" default="$(find box_model)/urdf/box/box.urdf.xacro" />
  <arg name="calibration_file" default="$(find box_calibration)/calibration/tf/calibration_cad.yaml" />

  <arg name="use_sim_time" default="false" />

  <param name="robot_description" command="xacro $(arg model)" />

  <param name="/use_sim_time" value="$(arg use_sim_time)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="capability_group" value="Visualization"/>
  </node> 

  
  <node name="calibration_metadata_publisher" pkg="box_model" type="publish_calibration_info.py">
    <param name="capability_group" value="Calibration"/>
    <param name="calibration_file" value="$(arg calibration_file)"/>
  </node>

  <node if="$(arg rviz)" name="box_rviz" pkg="rviz" type="rviz" args="-d $(find box_model)/config/display_urdf.rviz" />
</launch>