<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Give the robot description parameter a name -->
  <arg name="description_name"           default="boxi_description"/>
  <!-- Set robot description path -->
  <arg name="boxi_urdf"                  default="$(find box_model)/urdf/box/box.urdf"/>
  <arg name="load_from_urdf"             default="false" doc="Whether to load from urdf directly"/>

  <arg name="boxi_xacro"                 default="$(find box_model)/urdf/box/box.urdf.xacro" />
  <arg name="enable_visualizable_model"  default="true" doc="If true, disabled the redundant frames in the URDF model"/>

  <!-- Load description directly from xacro -->
  <group unless="$(arg load_from_urdf)">
    <param name="$(arg description_name)" command="xacro $(arg boxi_xacro) enable_visualizable_model:=$(arg enable_visualizable_model)" />
  </group>

  <!-- Load URDF file directly if specified -->
  <group if="$(arg load_from_urdf)">
    <param name="$(arg description_name)" textfile="$(arg boxi_urdf)"/>
  </group>

</launch>
