<launch>
  <arg name="model" default="$(find box_model)/urdf/box/box.urdf.xacro" />
  <arg name="calibration_file" default="$(find box_calibration)/calibration/tf/calibration_latest.yaml" />

  <param name="boxi_description" command="xacro $(arg model)" />
  <param name="/use_sim_time" value="true" />
  
  <node name="calibration_metadata_publisher" pkg="box_model" type="publish_calibration_info.py">
    <param name="capability_group" value="Calibration"/>
    <param name="calibration_file" value="$(arg calibration_file)"/>
  </node>

</launch>