<launch>
  <!-- Use GUI -->
  <arg name="use_gui" default="true"/>
  <arg name="simulation" default="false"/>
  <arg name="hostname" default="$(env HOSTNAME)"/>
  <arg name="calibration" default="false"/>
  
  <!-- Parameters parsed to the fkie -->
  <arg name="autostart_launch_files" default=""/>
  <arg name="load_launch_files" default=""/>
  
  <!-- Set parameters -->
  <group if="$(arg simulation)">
    <param name="use_sim_time" value="true"/>
  </group>

  <!-- Evaluate the arguments parsed to fkie daemon -->
  <arg name="_autostart_launch_files"
       value="$(eval ','.join(autostart_launch_files.split()))"/>
  <arg name="_load_launch_files"
       value="$(eval ','.join(load_launch_files.split()))"/>

  <!-- Only pass in command line arguments when they are not empty -->
  <group if="$(eval bool(load_launch_files) )">
    <group if="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--load '$(arg _load_launch_files)'
              --autostart '$(arg _autostart_launch_files)' $(arg calibration)">
      </node>
    </group>
    <group unless="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--load '$(arg _load_launch_files)' $(arg calibration)">
      </node>
    </group>
  </group>
  <group unless="$(eval bool(load_launch_files) )">
    <group if="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="--autostart '$(arg _autostart_launch_files)' $(arg calibration)">
      </node>
    </group>
    <group unless="$(eval bool(autostart_launch_files) )">
      <node pkg="fkie_node_manager_daemon"
            type="node_manager_daemon"
            name="node_manager_daemon"
            args="$(arg calibration)">
      </node>
    </group>
  </group>
    <node pkg="fkie_node_manager"
            type="node_manager"
            name="node_manager"
            if="$(arg use_gui)"/>
    <!-- fkie_master_discovery -->
    <include file="$(find box_launch)/launch/master_discovery.launch" />
    <!-- fkie_master_sync -->
    <include file="$(find box_launch)/launch/master_sync.launch" />
</launch>
