<launch>
  <param name="capability_group" value="Driver"/>
  <arg name="calibration" default="no"/>
  <include file="$(find bringup_hdr)/launch/usb_cam_left.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find bringup_hdr)/launch/usb_cam_middle.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
  <include file="$(find bringup_hdr)/launch/usb_cam_right.launch"> <arg name="calibration" value="$(arg calibration)"/> </include>
</launch>