[Unit]
Description=Autostart Terminal and Run tmuxp
After=network-online.target
After=phc2sys_mgbe0.service
After=phc2sys_mgbe1.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/tmuxp load /home/rsl/catkin_ws/src/grand_tour_box/box_bringup/box_launch/tmux/box_jetson.yaml -d
User=rsl

[Install]
WantedBy=multi-user.target
