[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
Requires=ptp4l_mgbe0_grandmaster.service
After=ptp4l_mgbe0_grandmaster.service

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -w -s mgbe0 -c CLOCK_REALTIME

[Install]
WantedBy=multi-user.target