[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l
After=network-online.target
After=sync_time_once.service
Requires=sync_time_once.service

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i mgbe0 -H -s

[Install]
WantedBy=multi-user.target
