[Unit]
Description= Get time from internet
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/timedatectl set-ntp false
ExecStart=/usr/bin/timedatectl set-ntp true
ExecStart=/usr/bin/timedatectl set-ntp false

[Install]
WantedBy=multi-user.target
