[Unit]
Description= Get time from Jetson RTC Hardware Clock
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/hwclock --hctosys

[Install]
WantedBy=multi-user.target
