<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>

  <group ns="$(arg box_namespace)">
    <arg if="$(eval arg('calibration') == 'no' )" name="ncamera_settings" default="$(find bringup_alphasense)/config/ncamera_settings.yaml" />
    <arg if="$(eval arg('calibration') == 'lidar' )" name="ncamera_settings" default="$(find bringup_alphasense)/config/ncamera_settings_1hz.yaml" />
    <arg if="$(eval arg('calibration') == 'camera' )" name="ncamera_settings" default="$(find bringup_alphasense)/config/ncamera_settings_4hz.yaml" />
    <arg if="$(eval arg('calibration') == 'imu' )" name="ncamera_settings" default="$(find bringup_alphasense)/config/ncamera_settings.yaml" />
    <node pkg="alphasense_driver_ros" type="alphasense_driver_ros" name="alphasense_driver_node" args="_ncamera_settings:=$(arg ncamera_settings) _translate_device_time:=False"> 
      <param name="capability_group" value="Driver"/>
    </node>

    <include file="$(find bringup_alphasense)/launch/debayer_all.launch" />
  </group>
</launch>
