[Unit]
Description=Set fan speed
After=network-online.target
After=pigpiod.target

[Service]
Type=forking
ExecStart=/bin/sh -c 'while ! pgrep -x pigpiod > /dev/null; do sleep 0.1; done; sleep 0.1; pigs p 18 120'
User=rsl

[Install]
WantedBy=multi-user.target
