[Unit]
Description=Autostart Terminal and Run tmuxp
After=ptp4l_eth0.service

[Service]
Type=forking
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/tmuxp load /home/rsl/git/grand_tour_box/box_launch/tmux/pi_recording.yaml -d
User=rsl

[Install]
WantedBy=multi-user.target