[Unit]
Description=Precision Time Protocol (PTP) service for eth0
Documentation=man:ptp4l
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i eth0 -H -s

[Install]
WantedBy=multi-user.target
