<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>
  <group ns="$(arg box_namespace)">
    <arg  if="$(eval arg('calibration') == 'no' )" name="publish_rate" default="30" />
    <arg  if="$(eval arg('calibration') == 'lidar' )" name="publish_rate" default="1" />
    <arg  if="$(eval arg('calibration') == 'camera' )" name="publish_rate" default="4" />
    <arg  if="$(eval arg('calibration') == 'imu' )" name="publish_rate" default="30" />
    <arg name="use_image_transport" default="True" />
    <arg name="video_device" default="/dev/video2" />
    <arg name="use_v4l2_buffer_timestamps" default="true" />
    <arg name="timestamp_offset" default="0.0" />
    <arg name="output_encoding" default="rgb8" />
    <arg name="camera_info_url" default="file:///home/beni/catkin_ws/src/grand_tour_box/box_bringup/bringup_hdr/usb_cam/cfg/camera_intrinsics_front.yaml" />
    <arg name="camera_frame_id" default="camera" />
    <arg name="pixel_format" default="UYVY" />

    <node pkg="v4l2_camera" type="v4l2_camera_node" name="v4l2_camera_front" output="screen">
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="use_image_transport" value="$(arg use_image_transport)" />
        <param name="video_device" value="$(arg video_device)" />
        <param name="use_v4l2_buffer_timestamps" value="$(arg use_v4l2_buffer_timestamps)" />
        <param name="timestamp_offset" value="$(arg timestamp_offset)" />
        <param name="output_encoding" value="$(arg output_encoding)" />
        <param name="camera_info_url" value="$(arg camera_info_url)" />
        <param name="camera_frame_id" value="$(arg camera_frame_id)" />
        <param name="pixel_format" value="$(arg pixel_format)" />
    </node>
  </group>
</launch>