<launch>
  <arg name="box_namespace" default="gt_box"/>

  <!-- <arg name="cloud_topic" default="/gt_box/livox/lidar"/> -->
   <arg name="cloud_topic" default="/gt_box/hesai/points"/>
  
  <!-- The tracked frame of the External odometry. Transformation from this frame to tracked_sensor_Frame should exist. -->
  <arg name="assumed_external_odometry_tracked_frame" default="box_base"/>

  <!-- Currently only used for attitude initialization - ADIS -->
  <arg name="imu_topic" default="/gt_box/livox/imu_si_compliant"/>

  <!-- 3 Options to provide external odometry - disabled for the box -->
  <arg name="odometry_topic" default="/nan0"/> 
  <arg name="pose_stamped_topic" default="/nan1"/>
  <arg name="pose_stamped_with_covariance_topic" default="/gt_box/gt_poses_novatel"/>

  <arg name="parameter_filename" default="hesai_xt32.lua"/>
  <arg name="parameter_folder_path" default="$(find bringup_open3d_slam)/config/"/>
  
  <arg name="num_accumulated_range_data" default="1"/>
  <arg name="use_syncronized_poses_to_replay" default="false"/>
  <arg name="replay_start_time_as_second" default="0"/>
  <arg name="replay_end_time_as_second" default="60"/>
  <arg name="is_read_from_rosbag" default="false"/>
  <arg name="rosbag_filepath" default=""/>
    <!-- add this to gitignore -->
  <arg name="map_saving_folder" default="$(find bringup_open3d_slam)/data/maps/"/>


  <arg name="use_sim_time" default="true"/>
  <!-- ROS Param -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <group ns="$(arg box_namespace)">
      <node  name="open3d_slam" pkg="open3d_slam_ros" type="mapping_node" output="screen">
          <param name="capability_group"      value="Brain"/>

          <param name="cloud_topic" type="string" value="$(arg cloud_topic)"/>

          <param name="odometry_topic" type="string" value="$(arg odometry_topic)"/>
          <param name="pose_stamped_topic" type="string" value="$(arg pose_stamped_topic)"/>
          <param name="pose_stamped_with_covariance_topic" type="string" value="$(arg pose_stamped_with_covariance_topic)"/>

          <param name="parameter_folder_path" type="string"
                value="$(arg parameter_folder_path)"/>

          <param name="imu_topic" type="string" value="$(arg imu_topic)"/>

          <param name="assumed_external_odometry_tracked_frame" type="string"
                value="$(arg assumed_external_odometry_tracked_frame)"/>

          <param name="use_syncronized_poses_to_replay" type="bool"
                value="$(arg use_syncronized_poses_to_replay)"/>

          <param name="replay_start_time_as_second" type="double"
                value="$(arg replay_start_time_as_second)"/>

          <param name="replay_end_time_as_second" type="double"
                value="$(arg replay_end_time_as_second)"/>

          <param name="parameter_filename" type="string"
                value="$(arg parameter_filename)"/>
          <param name="num_accumulated_range_data"
                value="$(arg num_accumulated_range_data)"/>
          <param name="is_read_from_rosbag" value="$(arg is_read_from_rosbag)"/>
          <param name="rosbag_filepath" value="$(arg rosbag_filepath)"/>
          <param name="map_saving_folder" value="$(arg map_saving_folder)"/>
      </node>
    </group>
</launch>