<launch>
  <arg name="replay" default="true"/>

  <include file="$(find box_rviz)/launch/box_rviz.launch">
    <arg name="replay" value="$(arg replay)"/>
  </include>
  
  <!-- unpack hesai pointcloud packets -->
  <include file="$(find bringup_hesai)/launch/hesai_lidar_unpack.launch" />

  <!-- uncompress the images-->
  <node name="uncompress_hdr_left" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/hdr_camera_left/image_raw raw out:=/gt_box/hdr_camera_left/image_raw"> </node>
  <node name="uncompress_hdr_front" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/hdr_camera_front/image_raw raw out:=/gt_box/hdr_camera_front/image_raw"> </node>
  <node name="uncompress_hdr_right" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/hdr_camera_right/image_raw raw out:=/gt_box/hdr_camera_right/image_raw"> </node>
  <node name="uncompress_alpahsense_cam1" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/alphasense_driver_node/cam1 raw out:=/gt_box/alphasense_driver_node/cam1"> </node>
  <node name="uncompress_alpahsense_cam2" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/alphasense_driver_node/cam2 raw out:=/gt_box/alphasense_driver_node/cam2"> </node>
  <node name="uncompress_alpahsense_cam3" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/alphasense_driver_node/cam3 raw out:=/gt_box/alphasense_driver_node/cam3"> </node>
  <node name="uncompress_alpahsense_cam4" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/alphasense_driver_node/cam4 raw out:=/gt_box/alphasense_driver_node/cam4"> </node>
  <node name="uncompress_alpahsense_cam5" pkg="image_transport" type="republish" 
    args="compressed in:=/gt_box/alphasense_driver_node/cam5 raw out:=/gt_box/alphasense_driver_node/cam5"> </node>
</launch>