<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>
  <group if="$(eval arg('calibration') == 'no' or arg('calibration') == 'lidar')" ns="$(arg box_namespace)">

    <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node"  output="screen">
      <param name="capability_group" value="Driver"/>
      <param name="config_path" type="string" value= "$(find bringup_hesai)/config/hesaiXT32_config.yaml"/>
    </node>
    
  </group>
</launch>