<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>

  <group ns="$(arg box_namespace)">
    <node pkg="ap20_driver_ros" type="ap20_driver_ros" name="ap20_driver" output="screen" />
    <node pkg="ap20_driver_ros" type="ap20_start_sending_data.sh" name="ap20_start_sending_data" output="screen" />
  </group> 
</launch>