<?xml version="1.0" ?>

<robot name="imus" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="viz_param_imus" params="enable_visualizable_model"/>
  <xacro:property name="enable_visualizable_model_prop" value="$(arg enable_visualizable_model)" />

  <link name="cpt7_imu"/>
  <!-- CPT7 Coordinate System -->
  <joint name="box_base_to_cpt7_imu_frame" type="fixed">
    <origin xyz=" ${calib['box_base_to_cpt7_imu_frame']['x']}
                  ${calib['box_base_to_cpt7_imu_frame']['y']}
                  ${calib['box_base_to_cpt7_imu_frame']['z']}"
            rpy=" ${calib['box_base_to_cpt7_imu_frame']['roll']}
                  ${calib['box_base_to_cpt7_imu_frame']['pitch']}
                  ${calib['box_base_to_cpt7_imu_frame']['yaw']}" />
    <parent link="box_base" />
    <child link="cpt7_imu" />
  </joint>

  <xacro:unless value="${enable_visualizable_model_prop}">
  <link name="cpt7_antenna_front"/>
  <!-- CPT7 Coordinate System -->
  <joint name="cpt7_to_antenna_front" type="fixed">
    <origin xyz=" ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['x']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['y']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['z']}"
            rpy=" ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['roll']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['pitch']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_front']['yaw']}" />
    <parent link="cpt7_imu" />
    <child link="cpt7_antenna_front" />
  </joint>



  <link name="cpt7_antenna_back"/>
  <!-- CPT7 Coordinate System -->
  <joint name="cpt7_to_antenna_back" type="fixed">
    <origin xyz=" ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['x']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['y']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['z']}"
            rpy=" ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['roll']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['pitch']}
                  ${calib['cpt7_imu_frame_to_cpt7_antenna_back']['yaw']}" />
    <parent link="cpt7_imu" />
    <child link="cpt7_antenna_back" />
  </joint>
  </xacro:unless>

  <link name="ap20_imu"/>
  <!-- Basilisk IMU Frame -->
  <joint name="box_base_to_ap20_imu_frame" type="fixed">
    <origin xyz=" ${calib['box_base_to_ap20_imu_frame']['x']}
                  ${calib['box_base_to_ap20_imu_frame']['y']}
                  ${calib['box_base_to_ap20_imu_frame']['z']}"
            rpy=" ${calib['box_base_to_ap20_imu_frame']['roll']}
                  ${calib['box_base_to_ap20_imu_frame']['pitch']}
                  ${calib['box_base_to_ap20_imu_frame']['yaw']}" />
    <parent link="box_base" />
    <child link="ap20_imu" />
  </joint>
  
  <!-- IMU STIM320 -->
  <link name="stim320_imu" />
  <joint name="box_base_to_imu_stim320" type="fixed">
    <origin xyz=" ${calib['box_base_to_imu_stim320']['x']}
                  ${calib['box_base_to_imu_stim320']['y']}
                  ${calib['box_base_to_imu_stim320']['z']}"
            rpy=" ${calib['box_base_to_imu_stim320']['roll']}
                  ${calib['box_base_to_imu_stim320']['pitch']}
                  ${calib['box_base_to_imu_stim320']['yaw']}" />
    <parent link="box_base" />
    <child link="stim320_imu" />
  </joint>

  <!-- IMU ADIS16475 -->
  <link name="adis16475_imu" />
  <joint name="box_base_to_adis16475_imu" type="fixed">
    <origin xyz=" ${calib['box_base_to_adis16475_imu']['x']}
                  ${calib['box_base_to_adis16475_imu']['y']}
                  ${calib['box_base_to_adis16475_imu']['z']}"
            rpy=" ${calib['box_base_to_adis16475_imu']['roll']}
                  ${calib['box_base_to_adis16475_imu']['pitch']}
                  ${calib['box_base_to_adis16475_imu']['yaw']}" />
    <parent link="box_base" />
    <child link="adis16475_imu" />
  </joint>

  <xacro:if value="${enable_visualizable_model_prop}">
  <!-- Visualization supported model enabled. imu_sensor_frame->alphasense_imu -->

    <!-- IMU Alphasense -->
    <link name="alphasense_imu" />
    <joint name="box_base_to_imu_alphasense" type="fixed">
      <origin xyz=" ${calib['box_base_to_imu_alphasense']['x']}
                    ${calib['box_base_to_imu_alphasense']['y']}
                    ${calib['box_base_to_imu_alphasense']['z']}"
              rpy=" ${calib['box_base_to_imu_alphasense']['roll']}
                    ${calib['box_base_to_imu_alphasense']['pitch']}
                    ${calib['box_base_to_imu_alphasense']['yaw']}" />
      <parent link="box_base" />
      <child link="alphasense_imu" />
    </joint>

  </xacro:if>

  <xacro:unless value="${enable_visualizable_model_prop}">

    <link name="imu_sensor_frame" />
    <joint name="box_base_to_imu_alphasense" type="fixed">
      <origin xyz=" ${calib['box_base_to_imu_alphasense']['x']}
                    ${calib['box_base_to_imu_alphasense']['y']}
                    ${calib['box_base_to_imu_alphasense']['z']}"
              rpy=" ${calib['box_base_to_imu_alphasense']['roll']}
                    ${calib['box_base_to_imu_alphasense']['pitch']}
                    ${calib['box_base_to_imu_alphasense']['yaw']}" />
      <parent link="box_base" />
      <child link="imu_sensor_frame" />
    </joint>

  </xacro:unless>

  

</robot>
