<launch>
  <param name="capability_group" value="Visualization"/>
  <arg name="box_namespace" default="gt_box"/>

  <rosparam command="load" file="$(find core_throttling)/cfg/frequencies.yaml" />
  <arg name="hdr_frequency" default="5.0"/>

  <group ns="$(arg box_namespace)">
    <node name="hdrcam_throttler_left" type="throttle" pkg="topic_tools" args="messages /gt_box/left/v4l2_camera/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/left/v4l2_camera/image_raw/compressed" />
    <node name="hdrcam_throttler_middle" type="throttle" pkg="topic_tools" args="messages /gt_box/middle/v4l2_camera/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/middle/v4l2_camera/image_raw/compressed" />
    <node name="hdrcam_throttler_right" type="throttle" pkg="topic_tools" args="messages /gt_box/right/v4l2_camera/image_raw/compressed $(arg hdr_frequency) /gt_box/throttled/right/v4l2_camera/image_raw/compressed" />
  </group>
</launch>