<launch>
  <param name="capability_group" value="Visualization"/>
  <arg name="box_namespace" default="gt_box"/>
  <group ns="$(arg box_namespace)">
    <node name="hdrcam_throttler" type="throttle" pkg="topic_tools" args="messages /gt_box/image_raw/compressed 1.0 /gt_box/image_raw/throttled/compressed" />
  </group>
</launch>