<launch>
  <arg name="box_namespace" default="gt_box"/>
  <arg name="calibration" default="no"/>
  <group ns="$(arg box_namespace)">
    <node pkg="adis16475_driver_ros" type="adis16475" name="adis16475">
        <param name="capability_group" value="Driver"/>
        <param name="decimation_factor" value="4"/>
        <param name="fir_filter" value="2"/>
        <param name="burst" value="false"/>
    </node>
  </group>
</launch>